# Server settings (ServerProperties)
server:
  port: 8098
spring:
  datasource:
    url: jdbc:mysql://192.168.10.5:3306/SpiderDB?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&useSSL=false
    username: root
    password: 123456
#    driver-class: org.postgresql.Driver
  jpa:
      show-sql: true
      generate-ddl: true
      properties:
        dialect: org.hibernate.dialect.MySQL5Dialect
#        dialect: org.hibernate.dialect.PostgreSQLDialect
  #      dialect: org.hibernate.dialect.Oracle10gDialect
      hibernate:
        naming:
          strategy: org.hibernate.cfg.DefaultNamingStrategy
#          strategy: org.hibernate.cfg.ImprovedNamingStrategy
  redis:
      host: 192.168.10.5
      port: 6379
      password: 123456
      pool:
        max-idle: 100
        min-idle: 1
        max-active: 1000
        max-wait: -1
  dubbo:
    application:
      name: provider
    registry:
      address: zookeeper://127.0.0.1:2181
    protocol:
      name: dubbo
      port: 20881
    scan: cn.tzq.facade


